<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Tiramizoo</title>
    <link href="/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css"/>
  </head>
  <body class='two-col bp'>
    <div id='container'>
      <div id='header'>
        <div class='logo'>
          <a href='/'>
            <img alt="Logo" src="images/logo.png"/>
          </a>
        </div>
        <div class='benefits_nav'>
          <ul>
            <li><a href="#">benefits for couriers</a></li>
            <li><a href="#">benefits for business</a></li>
            <li><a href="#">benefits for private</a></li>
          </ul>
        </div>
        <div class='login_small'>
          <form>
            small loginform
          </form>
          <ul>
            <li><a href="#">Log-in</a></li>
            <li><a href="#">Register</a></li>
          </ul>
          <form>
            language switch
          </form>
        </div>
      </div>
      <h1>Content goes here</h1>
      <div id='footer'>
        <ul>
          <li>
            tiramizoo
            <ul>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
            </ul>
          </li>
          <li>
            join us
            <ul>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
            </ul>
          </li>
          <li>
            faq
            <ul>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
            </ul>
          </li>
          <li>
            terms & conditions
            <ul>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
            </ul>
          </li>
          <li>
            follow us
            <ul>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
