.courier_item {
  cursor: pointer;
} 

#couriers_msg .notify {
  color: green;
}

#couriers_msg .warning {
  color: red;
}
  

.courier_item.selected_3 td {
  background: #bba !important;
}
  
.courier_item.selected_2 td {
  background: #ccb !important;
}

.courier_item.selected_1 td {
  background: #ddc !important;
}