%h3 US/Canada Address
/ = f.input :street 
= f.input :city

/ = render 'address/form', :locals => {:f => f, :address => address, :type => type}
/ = render 'contact_info/form', :locals => {:f => f, :type => :pickup}

