#footer > ul > li {
  $footer-columns: floor($blueprint-grid-columns / 5);
  @include column($footer-columns);
  font-weight:bold;
  li {
    @include no-bullet;
    
    font-weight:normal;
    a {
      text-decoration:none;
    }
  }
}  

#footer > ul {
  @include prepend(3);
  font-size:11px;
}

#footer > ul ul {
  @include prepend(0);
}