input[type=submit] {
  cursor:pointer;
}

h1 {
  padding-top:5px;
  font-size:15px!important;
/*  font-weight:bold!important;*/
  margin-bottom:15px!important;
}

h2 {
  font-size:14px!important;
  color:#fff!important;
  margin-bottom:5px!important;
  font-weight:bold!important;
}

h3 {
  font-size:13px!important;
  margin-bottom:5px!important;
  font-weight:bold!important;
}

p {
  margin-bottom:10px!important;
}