h3 Contact info
= f.input :name
= f.input :phone
= f.input :email
= f.input :notes

= f.input :save_address, :as => boolean, :label => 'Save to address book' # I18n !!
= f.input :billing_address, :as => boolean, :label => 'Use this address for billing' # I18n !!