.right
  #where-i-am
    != '<form accept-charset="UTF-8" action="/quotes" class="formtastic quote" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ifLPC7KqF3E7Zp9FbMlyfexuCrIsXkzI+H4Zl2IVSa0=" /></div>   <fieldset class="inputs"><ol>   <li class="radio optional" id="quote_vehicle_input"><fieldset><legend class="label"><label>Where are you?</label></legend><ol><li><label for="quote_vehicle_bicycle"><input id="quote_vehicle_bicycle" name="quote[vehicle]" type="radio" value="bicycle" /> City</label></li><li><label for="quote_vehicle_bicycle"><input id="quote_vehicle_bicycle" name="quote[vehicle]" type="radio" value="bicycle" /> City</label></li><li><label for="quote_vehicle_motorbike"><input id="quote_vehicle_motorbike" name="quote[vehicle]" type="radio" value="motorbike" /> City</label></li></ol></fieldset></li>   </ol></fieldset></form>'

  #map-canvas