%h2 Edit Booking details

/ = @booking.inspect

= semantic_form_for @booking do |f|
  = f.inputs do
    = f.input :street
    = f.input :city
  / = render 'detail_inputs', :locals => {:f => f, :booking => @booking, :type => :pickup}
  / = render 'detail_inputs', :locals => {:f => f, :booking => @booking, :type => :dropoff}
