%h1#registrations 
  Registration

  %ul
    %li#individual 
      .title 
        Individual Courier
      #desc 
        As a Individual Courier you will ...
      #register
        = link_to 'Register as Courier', individual_courier_signup_path

    %li#individual 
      .title 
        Courier Company
      #desc 
        As a Courier Company you will ...
      #register
        = link_to 'Register as Courier Company', courier_company_signup_path

    %li#individual 
      .title 
        Private Customer
      #desc 
        As a Private Customer you will ...
      #register
        = link_to 'Register as Private Customer', private_customer_signup_path

    %li#individual 
      .title 
        Private Customer
      #desc 
        As a Private Customer you will ...
      #register
        = link_to 'Register as Professional Customer', professional_customer_signup_path
  


