h1 Registration index
  # Individual Courier
    As a Individual Courier you will ...
    = link_to 'Register as Courier', individual_courier_signup_path
  # Courier Company
    As a Courier Company you will ...
    = link_to 'Register as Courier Company', courier_company_signup_path
  # Private Customer
    As a Courier Company you will ...
    = link_to 'Register as Private Customer', private_customer_signup_path
  # Professional Customer
    As a Professional Customer you will ...
    = link_to 'Register as Professional Customer', professional_customer_signup_path
  


