/ - content_for :meta do
/   = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
  / = javascript_include_tag "main_map"
  / = center_map_on_your_location(your_location)
  / - couriers.each do |courier|
  /   = draw_courier_location(courier.location)  
%h3 
  Map of courier locations
#couriers  
  #map-canvas
